{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="report-layout">
        <aside class="report-nav">
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
            </ul>
        </aside>
        <article class="report-sections">
            <h1 class="report-title">Redovisningstexter</h1>
            <section id="kmom01">
                <div>
                    {{ include('content/kmom01.md')|markdown_to_html }}
                </div>
            </section>
            <section id="kmom02">
                <div>
                    {{ include('content/kmom02.md')|markdown_to_html }}
                </div>
            </section>
            <section id="kmom03">
                <div>
                    {{ include('content/kmom03.md')|markdown_to_html }}
                </div>
            </section>
            <section id="kmom04">
                <div>
                    {{ include('content/kmom04.md')|markdown_to_html }}
                </div>
            </section>
            <section id="kmom05">
                <div>
                    {{ include('content/kmom05.md')|markdown_to_html }}
                </div>
            </section>
            <section id="kmom06">
                <div>
                    {{ include('content/kmom06.md')|markdown_to_html }}
                </div>
            </section>
        </article>
    </div>
{% endblock %}